################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/WixDacPacExtension/.vs/WixDacPacExtension/v16/Server/sqlite3/storage.ide-wal
