<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="DatabaseDialog" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Condition Action="disable"><![CDATA[DATABASESERVER = ""]]></Condition>
          <Condition Action="enable">DATABASESERVER &lt;&gt; ""</Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter database server details.">
        </Control>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Database Server Selection" />
        <Control Type="Text" Width="322" Height="26" X="25" Y="56" Id="BodyLabel" Text="Specify the database server name/instance." NoPrefix="yes">
        </Control>
        <Control Type="Text" Width="275" Height="10" X="25" Y="98" Id="DatabaseServerLabel" Text="&amp;Database Server (Example: localhost):" />
        <Control Type="Edit" Width="194" Height="15" X="25" Y="111" Id="AccountTextbox" Property="DATABASESERVER" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>